<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho QSW</title>

     <link rel="stylesheet" href="/trabalho-qsw/assets/css/global.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/trabalho-qsw">SCA</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/trabalho-qsw">Início</a>
                    </li>
                </ul>

                <div class="navbar-text d-flex ms-auto align-items-center">
                    <div class="me-2">
                        <p class="d-none d-lg-block mb-0">Bem vindo,</p>
                        <p class="mb-0">{{name_user}}!</p>
                    </div>
                    <a class="btn btn-danger" href="/trabalho-qsw/home/logout">Sair</a>
                </div>
                    
            </div>
        </nav>
    </div>
</header>

<section class="bg-body-secondary">
    <div class="container my-4">
        <h2 class="text-center mb-4">Revisão de Inscrição</h2>

        <!-- Turmas Selecionadas -->
        <table class="table" id="revisaoTurmas">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Nome da Turma</th>
                    <th>Horário</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in classes %}
                {% for info in turma %}
                    <tr id="{{ info.turma_id }}">
                        <td>{{ info.disciplina }}</td>
                        <td>{{ info.turma }}</td>
                        <td>{{ info.horario_inicio }} - {{ info.horario_termino }}</td>
                        <td>{{ info.professor_nome }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modal-text"></p>
                        <p id="wait-list-text" class="d-none">Deseja entrar na lista de espera?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary btn-wait-list d-none">Sim</button>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Botões de Ação -->
        <div class="d-flex justify-content-between align-items-center">
            <a href="/trabalho-qsw/enrollment" class="btn btn-secondary">Voltar</a>
            <button id="confirmarInscricao" type="button" class="btn btn-primary" onclick="submitReviewForm()"  name="confirmar_inscricao">Confirmar</button>
        </div>
    </div>   
</section>

<script src="/trabalho-qsw/assets/js/enrollment.js"></script>

<footer class="bg-dark text-white p-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <p>&copy; 2023</p>
        </div>
    </div>
</footer>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>


